
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.img{
  height: 90vh;
  width: 73vw;
  border-radius: 3%;
}
.span{
  position: absolute;
  top: 30px;
  right: 30px;
  height: 25px;
  width: 25px;
  background-color: rgb(41, 41, 41);
color: #c6c6c6;
  border-radius: 50%;
  display: flex;
    align-items: center;
    justify-content: center;
  
  font: icon;
  font-size: 20px;
  cursor: pointer;
}
.span:hover{
  align-items: center;
font-size: 25px;
color: #c8ddec;
}

 